
<% if flash.any? %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <div class='row'>
            <% flash.each do |name, msg| %>
                <%= msg %>
            <% end %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
<% end %>

