<h1>Friends</h1>

<div class="row mb-3">
  <div class="col-9">
    <div class="search-area">
      <h3>Search Friends</h3>
      <%= form_with url: search_friend_path, method: "get", data: { turbo_frame: "friend_results" } do %>
        <%= text_field_tag :friend, params[:friend], placeholder: "Name or email", autofocus: true, class: "form-control form-control-lg mb-3" %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

<%= render 'friends/list' %>
