<div id='page-content'>
    <h1 class='text-center mt-4'>Create a new cateogry</h1>
    
    
    <div class='container'>
        <%= render 'form' %>
    </div>

    <h2 class='text-center'>
        <%= link_to 'Cancel and return to categories listing', categories_path, class: 'btn btn-primary' %>
    </h2>

</div>
