<div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-3xl">
        <!-- Content goes here -->
        <h3 class='text-center my-4 text-4xl'>Course Listing</h3>

        <ul role="list" class="grid grid-cols-2 divide-y divide-gray-200">
            <li class="rounded-lg bg-white shadow px-4 py-4 flex w-64 flex-col text-center lg:w-auto">
                <div class="group relative">
                    <div class="mt-6">
                        <p class="text-sm text-gray-500">Code: CS111</p>
                        <h3 class="mt-1 font-semibold text-gray-900">
                            <a href="#">
                                <span class="absolute inset-0"></span>
                                Machined Introduction to Computer Science
                            </a>
                        </h3>
                        <p class="mt-1 text-gray-900">This course is an introduction to computer science and programming in Python.</p>
                     <a class='mt-2 text-pretty text-lg font-semibold tracking-tight lg:text-balance text-center' href="#">View Course</a>
                        <a class='mt-2 text-pretty text-lg font-semibold tracking-tight lg:text-balance text-center' href="#">Enroll</a>
                    </div>
                </div>
            </li>
            <li class="rounded-lg bg-white shadow px-4 py-4 flex w-64 flex-col text-center lg:w-auto">
                <div class="group relative">
                    <div class="mt-6">
                        <p class="text-sm text-gray-500">Code: CS111</p>
                        <h3 class="mt-1 font-semibold text-gray-900">
                            <a href="#">
                                <span class="absolute inset-0"></span>
                                Machined Introduction to Computer Science
                            </a>
                        </h3>
                        <p class="mt-1 text-gray-900">This course is an introduction to computer science and programming in Python.</p>
                     <a class='mt-2 text-pretty text-lg font-semibold tracking-tight lg:text-balance text-center' href="#">View Course</a>
                        <a class='mt-2 text-pretty text-lg font-semibold tracking-tight lg:text-balance text-center' href="#">Enroll</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>