<div id="<%= dom_id artifact %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= artifact.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Key:</strong>
    <%= artifact.key %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Project:</strong>
    <%= artifact.project_id %>
  </p>

</div>
