<div id='page-content'>
    <h1 class='text-center mt-4'>Sign up for Alpha Blog</h1>
    
    <%= render 'form' %>

    <h2 class='text-center'>
        <%= link_to 'Cancel and return to articles listing', articles_path, class: 'btn btn-primary' %>
    </h2>
</div>
