<div class="row">
    <div class="col-9">  
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col">Email</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody id="tracked_stocks_body">
          <% @friends.each do |friend| %>
            <%= render 'friends/friend_row', friend: friend %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>